<!-- Footer -->
	<div class="align-self-end mb-2 justify-content-around" th:fragment="footer">
		<footer class="bg-dark bg-gradient text-center text-secondary text-lg-start rounded">
		  <div class="p-3 d-flex justify-content-around">
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Datenschutz und Cookies</a>
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Hilfe</a>
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Impressum</a>
			    &copy; 2021 H&ouml;fische Beamten Versicherung
		  </div>
		</footer>	
	</div>