<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/head :: headFragment (pageTitle='offene Auftr&auml;ge')">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
   		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   		<script>
   		
   		</script>
   		
	</head>
	<body style="background-color: rgba(27, 30, 31, 1.00)">
	
	<!-- Main container -->
	<div class="container-xl bg-image d-flex overflow-auto " style="background-image: url('https://images.unsplash.com/photo-1626033190220-9b6aa500d49e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'); height: 100vh; ">
	
	<!-- Main row -->
	<div class="d-flex row h-100">
	
	<!-- Top navbar -->
	<div th:replace="fragments/menue :: menu" class="col-12 align-self-start mt-3" />
	
	<!-- Tabelle -->
	<!-- Link zur mehr Infos: https://datatables.net/examples/styling/bootstrap5.html -->
	
	<div class="col-12 px-4 py-5" id="custom-cards">
		<h2 class="pb-2 border-bottom text-white" th:text="${auftragStatus}">Offene Auftr&auml;ge</h2>
		 
		<div class="dataTables_wrapper dt-bootstrap5 text-white mt-5">	
	   		<!-- Tabelle -->
			<div class="row">
				<div class="col-sm-12"> 
					<table id="example" class="display table table-striped text-white bg-black bg-gradient rounded table-hover" style="width:100%">
				        <thead>
				            <tr>
				                <th>Nr</th>
				                <th>Status</th>
				                <th>Kontakt</th>
				                <th>Datum</th>
				                <th>Bearbeiter</th>
				                <th>Kurzbeschreibung</th>
				            </tr>
				        </thead>
				        <tbody th:unless="${#lists.isEmpty(auftraege)}">
				            <tr th:data-id="${auftrag.id}" class="text-white" th:each="auftrag : ${auftraege}">
				                <td th:text="${auftrag.nummer}">4</td>
				                <td th:text="${auftrag.status.name}">Offen</td>
				                <td th:text="|${auftrag.versicherungsnehmer.vorname} ${auftrag.versicherungsnehmer.nachname}|">Hans Zimmer</td>
				                <td th:text="${#temporals.format(auftrag.erstellungsdatum, 'dd.MM.yyyy HH:mm')}">01.01.2020</td>
				                <td th:unless="${auftrag.bauherr eq null}" th:text="|${auftrag.bauherr.vorname} ${auftrag.bauherr.nachname}|">Franz Meier</td>
				                <td th:if="${auftrag.bauherr eq null}"></td>
				                <td th:text="${auftrag.kurzbeschreibung}">Es liegt ein Schaden vor</td>
				            </tr>
				        </tbody>
				        <tbody th:if="${#lists.isEmpty(auftraege)}">
				            <tr class="text-white">
				                <td colspan="6">Es sind noch keine Auftr&auml;ge vorhanden.</td>
				            </tr>
				        </tbody>
				        <tfoot>
				            <tr>
				                <th>Nr</th>
				                <th>Status</th>
				                <th>Kontakt</th>
				                <th>Datum</th>
				                <th>Bearbeiter</th>
				                <th>Kurzbeschreibung</th>
				            </tr>
				        </tfoot>
			    	</table>
				</div>
			</div>
		</div>
		
		
	</div>

	<!-- Hover effekt Zeile -->
	<style>
		table.dataTable.hover tbody tr:hover,
		table.dataTable.display tbody tr:hover {background-color: rgba(13, 110, 253, 1.00); cursor: pointer}
	</style>
	
	<!-- Klick effekt auf Zeile und deutsch Sprache Tabelle -->
	<script th:inline="javascript">
	    var auftragUrl = /*[[@{/auftrag/get/}]]*/ '';
	</script>
	<script>
	$(document).ready(function() {
	    $('#example').DataTable({
		language: {
			search: "Suche",
			info: "Anzeige _START_ bis _END_ von _TOTAL_ Eintr&auml;ge",
			lengthMenu: "Anzeige _MENU_ Eintr&auml;ge",
			paginate: {
            first:      "Erstes",
            previous:   "Vorherige",
            next:       "N&auml;chstes",
            last:       "Zur&uuml;ck"
        },}});
        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
	        window.location.href = auftragUrl+$(this).data('id');
    	});
	});
	</script>
	
	<!-- Footer -->
	<div class="align-self-end mb-2 justify-content-around">
		<footer class="bg-dark bg-gradient text-center text-secondary text-lg-start rounded">
		  <div class="p-3 d-flex justify-content-around">
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Datenschutz und Cookies</a>
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Hilfe</a>
			  <a class="text-secondary d-none d-sm-flex" style="text-decoration: none" href="#">Impressum</a>
			    &copy; 2021 H&ouml;fische Beamten Versicherung
		  </div>
		</footer>	
	</div>
	
	
  	</div>
	</div>
	</body>
</html>