<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/head :: headFragment (pageTitle='Passwort vergessen')">
	</head>
	<body class="" style="background-color: rgba(27, 30, 31, 1.00)">
	 <div class="container">
	    <div class="row">
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
	          <div class="card-img-left d-none d-lg-flex">
	          	<img src="https://source.unsplash.com/WEQbe2jBg40/414x512" class="img-fluid" alt="">   
	          </div>
	          <div class="card-body p-4 p-sm-5">
	          	<div class="col d-flex justify-content-center">
			    		<img th:src="@{/image/logo_small.jpg}" class="img-fluid" alt="Unternehmenslogo">
			    </div>
				<div class="d-flex align-items-center justify-content-center">
	            	<h4 class="pt-4 mb-5 fw-light fs-5">Passwort zur&uumlcksetzen</h4>
				</div>
				<div class="">
					<p th:unless="${token}">Geben Sie die zu Ihrem Konto registrierte E-Mail Adresse ein und wir senden Ihnen eine Mail f&uumlr das Zur&uumlcksetzen Ihres Passworts zu.</p>
					<p th:if="${token}">Geben Sie bitte das gew&uuml;nschte neue Passwort ein und wiederholen es im n&auml;chsten Feld.</p>
				</div>
	            <form th:action="@{/user/passwordReset}" modelAttribute="passwortReset" method="post">
	
	              <div th:unless="${token}" class="form-floating mb-3">
	                <input type="mail" class="form-control" name="eMail" id="mail" placeholder="E-Mail Adresse" required autofocus />
	                <label for="mail">E-Mail Adresse</label>
	              </div>
	              <th:block th:if="${token}">
	              	<input type="hidden" name="token" th:value="${token}" />
	              	<div class="form-floating mb-3">
		                <input type="password" class="form-control" name="passwort" id="passwort" placeholder="neues Paswort" required autofocus />
		                <label for="passwort">Passwort</label>
		             </div>
		             <div class="form-floating mb-3">
		                <input type="password" class="form-control" name="passwortConfirm" id="passwortConfirm" placeholder="wiederhole Paswort" required autofocus />
		                <label for="passwortConfirm">wiederhole Passwort</label>
		             </div>
	              </th:block>
	
	              <div class="d-grid gap-2 d-md-block">
		               		<button class="btn btn-primary fw-bold mb-2" type="submit">Senden</button>
		                	<a th:href="@{/login.html}" class="btn btn-secondary fw-bold mb-2" tabindex="-1" role="button">Abbrechen</a>
		          </div>
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</body>
</html>