<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<headth:include="fragments/head :: headFragment (pageTitle='')"></head>
<body>
    Guten Tag <span th:text="|${benutzer.anrede} ${benutzer.nachname}|"></span>,
   </br>
   Sie haben vor Ihr Passwort bei uns zu erneuern.
   </br>
   Bitte geben Sie bis sp&auml;terstens ${ablauf} ihr neues Passwort unter diesem <a th:href="@{/user/resetPasswort(token=${token})}">Link</a> ein, um Ihrem Konto ein neues Passwort zu hinterlegen, damit Sie unsere Leistungen genießen können.
   </br>
   </br>
   Mit freundlichen Grüßen
   </br>
   Ihr HandmanServ-Team
</body>
</html>