<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment (pageTitle='')"></head>
<body>
    Guten Tag <span th:text="|${benutzer.anrede} ${benutzer.nachname}|"></span>,
   </br>
   Bitte bestätigen Sie bis sp&auml;terstens <span th:text="${ablauf}" /> ihren wunsch zum Passwort zur&uuml;cksetzen mit diesem <a th:with="linkUrl=|${baseUrl}/passwordReset|"
   th:href="@{${linkUrl}(token=${token})}">Link</a> um Ihrem Konto ein neues Passwort zu hinterlegen, damit Sie unsere Leistungen wieder genie&szlig;en k&ouml;nnen.
   </br>
   </br>
   Mit freundlichen Gr&uuml;ßen
   </br>
   Ihr HandmanServ-Team
</body>
</html>